@charset "UTF-8";

/**************************************
공통 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr, 
textarea, button, form {
    margin: 1px;
    padding: 0px; 
 }
body{
    background-color: #ffffff;
    font-family: "맑은고딕";
    font-size: 12px;
}
/**************************************
clearfix */
.clearfix::before, .clearfix::after{
    display: block;
    content: "";
    line-height: 0;
}

.clearfix::after{
    clear: both;
}

#main2{
    border-bottom: 1px solid #999999;
}

#main h3{
    width: 661px;
    font-size: 20px;
    float: left;
    margin: 10px 0px 0px 0px;
}

#main ul{
    margin: 20px 0px 0px 3px;
    padding-top: 17px;
}

#main ul>li{
    list-style-type: none;
    float: left;
    padding: 0px 5px 0px 0px;
  }

#main ul>li::after{
    content: ">";
    padding: 0px 0px 0px 5px;
}

#main ul>li:last-child::after{
    content: "";
}



#find-group{
    float: right;
}

#find-button{
    width: 50px;
    height: 25px;
}

#find-text{
    height: 25px;
}

#board-table{
    float: left;
    padding-top: 20px;
}

table{
    width: 820px;
    border:1px solid #dddddd;
    border-collapse: collapse;
}
table>thead>tr{
    background-color: #dddddd;
}
table>thead>tr>th{
    font-weight: bold;
}
table>thead>tr>th, table>tbody>tr>td{
    border:1px; 
    border-top-style: solid;
    border-bottom-style: solid; 
    border-color: #999999;
    text-align: center;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}
.text-left{
    text-align: left;
    text-decoration-line: none;
    color: #000000;
}

#table-num{
}

#table-num>ol{
    list-style-type: none;
    margin: 0 auto;
    width: 30%;
    padding: 0px 0px 0px 60px;
}

#table-num>ol>li{
    list-style-type: none;
    float: left;
    padding-left: 10px;
}


#write-button{
    float: right;
}
#write-button>button{
    width: 60px;
    height: 30px;
}


#img-button{
    float: right;
    margin: 10px 0px 10px 0px;
}
#img-button>button{
    width: 100px;
    height: 30px;
}

#img-board{
    width: 820px;
    float: left;
}

#img-board>div{    
    margin: 1px;
    float: left;
    border: 1px solid #999999;
}

#img-board>div>a>img{
    width: 190px;
    padding: 5px 5px 10px 5px;
}

#img-board>div>a>p{
    font-size: 15px;
}







