@charset "UTF-8";



/***********************
content */
#contents #profile{
    width: 300px;
    margin: 0px 30px 0px 0px;
    float: left;
}

#contents .greeting-box{
    float: left;
    font-size: 18px;
}

#contents #greeting{
 font-weight: bold;
}


































