@charset "UTF-8";

body{
    font-family: "맑은고딕";
    font-size: 17px;
}
#title{
    font-family: "궁서체";
    font-size: 30px;
    font-weight: 15px;
}
h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}
.f-blue{
    color: #0000ff;
}
.f-red{
    color: #ff0000;
}
.f-green{
    color: #00ff00;
}
.f-italic{
    font-style: italic;
}
.f-bold{
    font-weight: bold;
}
.f-underline{
    text-decoration-line:underline;
}
.history~p{
    text-indent: 30px;    
}
.historycolor{
    background-color: #d9d9d9;
}
.liststyle{
    list-style-type: square;
}
.listnone{
    list-style-type: none;
}
thead>tr>th{
    background-color: #c8ebfa;
}
.t-right{
    text-align: right;
}
